<h2>Home</h2>

{{#each products}}

<ul>
    <li> Nombre: {{title}}</li>
    <li>Descripción: {{description}}</li>
    <li> Precio: {{price}}</li>
    <li>Stock: {{stock}}</li>
    <li>Categoría{{category}}</li>
</ul>

{{/each}}